html, body {
    overflow-x: hidden;
}
*{
    min-height: 0;         //  hack for slider slick-carousel
    min-width: 0;
}
p, li {
    @include breakpoint(large) {
        font-size: 20px;
    }
    
}
i {
    font-size: 1.5rem;
    margin-right: 0.4em;
    color: $primary-color;
}
.content {
        .sec1, .sec2, .sec5, .sec7, .sec10, .sec12 {
            color: #fff;
        }
        .sec1 {
             background: url(../imgs/bg_top_v2.jpg) no-repeat center center fixed;
             background-size: cover;
             background-attachment: scroll;
             padding-top: 4em;
             padding-bottom: 4em;
                h3 {
                     @include breakpoint(medium only) {
                         font-size: 1.5rem; 
                     }
                }
                 .description {
                    background-color: yellow;  
                    margin-bottom: 4em;
                    position: relative;    
                    padding: 1em;    
                    height: 120px;    
                    width: 500px;
                    display: flex;
                    color: black;
                         &:before {
                             content: "";
                             position: absolute;
                             bottom: -27px;
                             left: 0;
                             border-left: 30px solid transparent;
                             border-top: 27px solid darken( yellow, 10% );
                             display: block;
                             width: 0;
                             height: 0;
                         }
                         &:after {
                             content: "";
                             display: block;
                             position: absolute;
                             right: -42px;
                             top: 0;
                             width: 0;
                             height: 0;
                             border-top: 60px solid transparent;
                             border-left: 43px solid yellow;
                             border-bottom: 60px solid transparent;
                         }  
                         @include breakpoint(small only) {
                             width: 210px;
                             margin: 0 auto;
                             margin-bottom: 4em;
                        }
                        @include breakpoint(medium only) {
                             width: 400px;
                             margin: 0 auto;
                             margin-bottom: 4em;
                        }
                        @media screen and (orientation: landscape) and (max-width: 640px) {
                             width: 400px;
                             margin: 0 auto;
                             margin-bottom: 4em;
                        }
                }
                .slogan {
                    background-color: #207EA9;
                    position: relative;
                    padding: 0.5em;
                    height: 45px;
                    width: 506px;
                         &:after {
                                 content: "";
                                 position: absolute;
                                 width: 0;
                                 top: 44px;
                                 left: 0;
                                 height: 0;
                                 border-left: 250px solid transparent;
                                 border-right: 257px solid transparent;
                                 border-top: 30px solid #207EA9;
                         }
                         @include breakpoint(small only) {
                             width: 205px;
                             height: 50px;
                             margin: 0 auto;
                             &:after {
                                 top: 49px;
                                 border-left: 105px solid transparent;
                                 border-right: 100px solid transparent;
                                 border-top: 30px solid #207EA9;
                             }
                        }
                        @include breakpoint(medium only) {
                             width: 420px;
                             margin: 0 auto;
                             &:after {
                                 top: 44px;
                                 border-left: 210px solid transparent;
                                 border-right: 210px solid transparent;
                             }
                        }
                        @media screen and (orientation: landscape) and (max-width: 640px) {
                             width: 420px;
                             margin: 0 auto;
                             &:after {
                                 top: 44px;
                                 border-left: 210px solid transparent;
                                 border-right: 210px solid transparent;
                             }
                        }
                }
            }
            .sec2, .sec10 {
               background-color: #242323;
            }
            .sec4 {
                background-color: #A0A09F;
            }
            .sec5 {
                background: url(../imgs/visualization_v1.jpg) no-repeat center center fixed;
                background-size: cover;
                position: relative;
                    .columns {
                        z-index: 1;
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0px; left: 0px;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.6);
                    }
            }
            .sec7, .sec12  {
                background-color: #242323;
                    h5, .form-descr {
                        color: $primary-color;
                    }
            }
            .sec3, .sec6, .sec8, .sec11{
                background-color: #cccccc;
            }
            .sec9 {
                background-color: #ffffff;
            }
            .sec12 {
                .slider {
                    min-height: 100%;
                    height: 100%;

                    background-color: #242323;
                    .slick-prev {
                        left: -13px;
                    }
                    .slick-next {
                        right: -13px;
                    }
                    .slick-dots {
                        left: 0;
                        button:before {
                            color: #fff;
                        }
                    .slick-slide {

                        &:focus {
                            outline: none!important;
                        }    
                    }
                    
                    
                    

                    }
                }

                img {
                        @include breakpoint(medium only) {
                     //       max-width: 60%; 
                        }
                       @include breakpoint(small only) {
                  //          max-width: 20%; 
                        }
                }
            }
            & > div {
                padding: 1em;
            }
}

            
