html,
body {
    overflow-x: hidden;
}

* {
    min-height: 0; //  hack for slider slick-carousel
    min-width: 0;
}

i {
    font-size: 1.5rem;
    margin-right: 0.4em;
    color: $primary-color;
}

button {
    font-family: Roboto, sans-serif;
}

h3 {
    font-weight: 600;
    margin-bottom: 1em;
}

h4 {
    margin-bottom: 1em;
}

.button {
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.2em;
    align-self: baseline;
    color: $body-font-color;
}

.content {
    position: relative;
    .media-object {
        width: 100%!important; // ie fix
    }
    .media-object-section {
        padding-right: 3rem;
        .thumbnail {
            margin: 0 auto;
        }
        img {
            max-width: 270px;
        }
    }
    .sec1,
    .sec2,
    .sec3,
    .sec4,
    .sec5 {
        padding: 4rem 1rem;
        @include breakpoint(small only) {
            padding: 1rem 1rem;
        }
    }
    .sec1 {
        background: url(../imgs/bg_money-min.jpg) no-repeat center center fixed;
        background-size: cover;
        background-attachment: scroll;
        padding: 6em 0em;
        text-transform: uppercase;
        font-weight: 700;
        h3 {
            @include breakpoint(medium only) {
                font-size: 1.5rem;
            }
        }
        .slogan-wrap {
            &:after {
                content: "";
                background: url(../imgs/slogan_after-min.png) no-repeat center center;
                display: block;
                height: 60px;
                background-size: cover;
                width: 100%;
                margin-top: -1px;
                @include breakpoint( small only) {
                    height: 45px;
                }
            }
            .slogan {
                background-color: #f0db68;
                position: relative;
                padding: 2em 0.5em;
                padding-bottom: 1em;
                width: 100%;
                font-weight: 600;
                h4 {
                    font-weight: 600;
                }
                .row.text-center {

                    @include breakpoint(medium only) {
                        padding: 0 1em;
                    }
                    @include breakpoint(large) {
                        padding: 0 4em;
                    }
                    span {
                        position: relative;
                        font-size: 1.2em;
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: -20px;
                            top: 2px;
                            width: 18px;
                            height: 16px;
                            background: url('../imgs/list_style_sprites-min.png') -10px -44px no-repeat;
                        }
                        @include breakpoint(small only) {
                            font-size: 0.7rem;
                            top: 0;
                        }
                        @include breakpoint(medium only) {
                            font-size: 0.9rem;
                            top: 0;
                            @include grid-column-collapse;
                        }
                        @media screen and (orientation: landscape) and (max-width: 640px) {}
                    }
                }
            }
        }
    }
    .sec2 {
        background-color: #2e2e2e;
        color: #fff;
        padding: 3rem 1rem;
        .cubs {
            background: url(../imgs/kubik-min.png) no-repeat center center;
            background-size: contain;
        }
        .main-section {
            h4 {
                font-weight: 400;
                @include breakpoint(medium down) {
                    text-align: center;
                }
            }
            .flex-container {
                padding-top: 1em;
                @include breakpoint(medium down) {
                    justify-content: center;
                    padding-top: 1em;
                }
            }
        }
    }
    .sec3 {
        background: url(../imgs/bg_slots-min.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    .sec4 {
        font-weight: 500;
        padding-bottom: 2.5rem;
        h3 {
            @include breakpoint(medium down) {
                text-align: center;
            }
        }
        h4 {
            font-weight: 600;
            @include breakpoint(medium down) {
                text-align: center;
            }
        }
        ul {
            list-style-type: none;
            margin-left: 0;
            li {
                padding-left: 25px;
                background: url('../imgs/list_style_sprites-min.png') -48px -5px no-repeat;
            }
        }
        a {
            text-decoration: underline;
            color: #27a0e4;
        }
        .feedback {
            display: none;
        }
    }
    .sec5 {
        background: url(../imgs/bg_slots2-min.jpg) no-repeat center center fixed;
        background-size: cover;
        color: #fff;
        .slider {
            min-height: 100%;
            height: 100%;
            background-color: transparent;
            .slick-prev {
                left: -13px;
            }
            .slick-next {
                right: -13px;
            }
            .slick-dots {
                left: 0;
                bottom: -45px;
                button {
                    &:before {
                        font-size: 12px;
                        color: #008edf;
                        opacity: 1;
                    }
                    &:focus {
                        &:before {
                            color: #fff;
                        }
                    }
                }
                .slick-slide {
                    &:focus {
                        outline: none!important;
                    }
                }
            }
        }
    }
    &>div {
        padding: 1em;
    }
}