.header {
    background-color: #fff;
    padding: 0.5em;
        .logo {
            width: 150px;
            height: 80px;
            background-image: url(../imgs/logo_light.png);
            background-repeat:  no-repeat;
            background-size: contain;
                @include breakpoint( small only ) {
                    width: 100px;
                    height: 60px;
                }
        }
        .contacts {
            color: $alert-color; 
            i {
                display: inline-flex;
            }
            a {
                display: flex;
                color: $alert-color;
            }
            .number { 
                margin-bottom: 0.5em;
                span {
                    line-height: 2em;
                    @include show-for(medium);
                    @media screen and (orientation: landscape) and (max-width: 640px) {
                            display: inline-flex!important; 
                        }
                }
                i:not(.icon-phone) {

                    
                }
            }

            & > div > div {          
                @include breakpoint( medium ) {
                    @include flex;
                    @include flex-align(right, middle);
                }
                }
        }
        
}