.header {
    background-color: #fff;
        .logo {
            width: 150px;
            height: 100px;
            background-image: url(../../app/imgs/logo.png);
            background-repeat:  no-repeat;
            background-size: contain;
            background-position-y: -10px;
        }
        .phone {
            color: $alert-color;
        }

}